@model PoshBay.Data.ViewModels.LoginViewModel

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/Images/cart-image.GIF"
          class="img-fluid" alt="Sample image">
      </div>

      <div style="align-content:center" class="text-center">
         <h6 class="alert-success">@TempData["EmailNotFound"]</h6>
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form asp-controller="Account" asp-action="Login" class="align-items-center" id="account" method="post">
          

          <!-- Email input -->
          <div class="form-outline mb-4 pt-4">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="@Model.Email" class="form-label" for="form3Example3">Email address</label>
            <input asp-for="@Model.Email" id="form3Example3" class="form-control form-control-lg mt-lg-5"
              placeholder="Enter email address" autocomplete="email" aria-required="true"/>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label asp-for="@Model.Password" class="form-label" for="form3Example4">Password</label>
            <input asp-for="@Model.Password" id="form3Example4" class="form-control form-control-lg"
              autocomplete="current-password" placeholder="Enter password" aria-required="true"  type="password"/>
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
          </div>

          <div class="form-outline mb-3">
            <input type="submit" id="form3Example4" class="form-control form-control-lg btn btn-success" value="Login"/>
          </div>
          
          <div>
            <a id="forgot-password" class="text-body">Forgot password?</a>
          </div>

            <p class="small fw-bold mt-2 pt-1 mb-0">
                <a id="resend-confirmation"  class="link-danger">Resend email confirmation</a>
             </p>
        </form>
      </div>
    </div>
  </div>
</section>