@model PoshBay.Data.ViewModels.ResetPassWordViewModel

@{
    ViewData["Title"] = "Reset Password";
}



<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <form id="registerForm" method="post" asp-controller="Account" asp-action="SendPassWordResetToken">
            
            <div style="align-content:center" class="text-center">
                <h6 class="text-danger">@TempData["EmailNotFound"]</h6>
            </div>
            
            @* Hidden input field for UserRole tpye 
            <input type="hidden" value="@Model.IsAdmin" /> *@
            <div class="mt-5">
                <h6>Enter your email address to reset your password</h6>
            </div>

            <div class="form-floating col-12 py-2">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control my-2" autocomplete="username" aria-required="true" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
  
</div>