@model IEnumerable<PoshBay.Data.Models.Category>


<p>
     @Html.ActionLink("Create New", "Create")
 </p>
 <div style="align-content:center" class="text-center">
     <h6 class="alert-success">@TempData["Success"]</h6>
     <h6 class="alert-success">@TempData["Delete-Success"]</h6>
 </div>

 <div>
    @* <form> *@
         <table class="table">
            <tr>
              <th>
                 @Html.DisplayNameFor(model => model)
              </th>
              <th></th>
            </tr>
            @foreach(var item in Model)
            {
            <tr>
                <td>
                     @item.Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.CategoryId}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.CategoryId}) 
                </td>
            </tr>      
          }
        </table>
   @*  </form> *@
 </div>