@model PoshBay.Data.ViewModels.ProductDetailViewModel

<div style="align-content:center" class="text-center">
     <h6 class="alert-success">@TempData["Success"]</h6>
</div>

<div class="container">
    <h1>Product Details</h1>
    <span class="alert-info">@TempData["Image"]</span>
    <div class="container d-flex border p-4 w-100">
        <div class="w-25 d-flex flex-column justify-content-center align-items-center">
            <img asp-for="@Model.ImagePath" src=@Model.ImagePath class="img-fluid rounded" />
        </div>
        <div class="container ml-3">
            <label asp-for="Name"></label>
            <h5 asp-for="@Model.Name">@Model.Name</h5>

            <label asp-for="@Model.Price"></label>
            <h5 asp-for="@Model.Price">#@Model.Price</h5>
            <div>
                
                <div class="d-flex mt-2  justify-content-start align-items-baseline">
                    <form enctype="multipart/form-data" method="post">
                        <div class="custom-file w-100 d-flex flex-column">
                            <label asp-for="@Model.Description"></label>
                            <textarea readonly asp-for="@Model.Description"></textarea>
                        </div>
                        
                        <div class="w-100 d-flex flex-row">
                            <table class="table">
                                <tr>
                                    <td>
                                        @Html.ActionLink("Back To list", "Index", "Home") |
                                        @Html.ActionLink("Edit", "Edit", new {id = @Model.ProductId}) |
                                        @Html.ActionLink("Delete", "Delete", new {id = @Model.ProductId})  
                                    </td>
                                </tr>  
                            </table>
                        </div>

                    </form>
                    
                </div>
            </div>     
        </div>
    </div>
</div>
