@model PoshBay.Data.Models.ShoppingCart
@using Microsoft.AspNetCore.Identity;
@using PoshBay.Data.Models
@inject SignInManager<ApplicationUser> manager;



@if (Model != null)
{
    <p>@ViewBag.CartIemCount</p>
    <h5>Hello @Model.AppUser.FirstName, here is your Cart</h5>

    <div style="align-content:center" class="text-center">
        <h6 class="alert-success">@TempData["Error"]</h6>
    </div>
    
    <div style="align-content:center" class="text-center">
        <h6 class="alert-danger">@TempData["QuantityShortage"]</h6>
    </div>

    <div style="align-content:center" class="text-center">
        <h6 class="alert-danger">@TempData["QuantityCannotBeZeroErro"]</h6>
    </div>

    <div>
        <form>
            <table class="table mt-3">
                <tr>
                    <th> Name of Product </th>
                    <th> Price </th>
                    <th> Quantity </th>
                    <th>Total Price</th>
                    <th></th>
                    <th> Remove Item </th>
                </tr>
                @foreach (var cart in Model.CartItems)
                {
                    <tr>
                        <td> @cart?.Product?.Name </td>
                        <td> @cart?.Product?.Price </td>
                        <td id="@cart.Product.ProductId"> @cart.SelectedQuantity </td>
                        <td> @cart.TotalPrice </td>
                        <td> 
                            <a class="btn btn-success" id="minusBtn" asp-controller="Cart" asp-action="DereaseCartSelectedQty" asp-route-cartItemId="@cart.CartItemId" asp-route-prodId="@cart.Product.ProductId" asp-route-appUserEmail="@User.Identity.Name"> - </a> &nbsp;  
                            <a class="btn btn-success" id="plusBtn" asp-controller="Cart" asp-action="IcreaseCartSelectedQty" asp-route-cartItemId="@cart.CartItemId" asp-route-prodId="@cart.Product.ProductId" asp-route-appUserEmail="@User.Identity.Name"> + </a> 
                        </td>
                        <td> @Html.ActionLink("Delete Item", "DeleteCartItem", new { cartItemId = cart.CartItemId, shoppingCartId =  cart.ShoppingCartId, appUserEmail = @User.Identity.Name }) </td>
                    </tr>
                }
            </table>
        </form>
    </div>

    <div class="w-100 d-flex justify-content-center border-0">
        <ul class="d-flex list-unstyled">
            <li>
                <a class="btn btn-success" asp-controller="Home" asp-action="Index"> Continue Shopping </a>
            </li>
            <li class="mx-2">
                <a class="btn btn-success" asp-controller="CheckOut" asp-action="CheckOutSummary" asp-route-shoppingCartId="@Model.ShoppingCartId">Check Out</a>
            </li>
        </ul>
    </div>

}
else
{
    <p>Opps! No item in cart</p>
}




